.z3*
**/.DS_Store
.idea/
.vs/
.vscode/
build/
builds/
firmwares/output/
firmwares/repos/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
_site/
/bin/
.classpath
.project
.settings
