#
# Copyright (c) 2025, Trail of Bits, Inc.
#
# This source code is licensed in accordance with the terms specified in
# the LICENSE file found in the root directory of this source tree.
#

name: CI
on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  ghidra-script-tests:
    strategy:
      matrix:
        image-version: [22.04]
    runs-on: ubuntu-${{ matrix.image-version }}
    timeout-minutes: 30
    env:
      CI: true
    steps:
      - name: Free up disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true

      - name: Clone the Patchestry repository
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 1

      - name: Build the Ghidra testing Docker image and run tests via Gradle
        run: |
          DOCKER_BUILDKIT=1 docker build -t trailofbits/decompile-test:latest -f test/decompile-test.dockerfile . && \
          docker run trailofbits/decompile-test

      - name: Clean up Docker artifacts
        if: always()
        run: |
          docker system prune -af --volumes

  llvm-build-and-test:
    strategy:
      matrix:
        llvm-version: [20]
        image-version: [22.04]
        build-type: [Release, Debug]
        sanitizers: [OFF]
    runs-on: ubuntu-${{ matrix.image-version }}
    timeout-minutes: 30
    env:
      DEV_IMAGE: ghcr.io/lifting-bits/patchestry-ubuntu-${{ matrix.image-version }}-llvm-${{ matrix.llvm-version }}-dev:latest
      CMAKE_PREFIX_PATH: "/usr/lib/llvm-${{ matrix.llvm-version }}/lib/cmake/mlir/;/usr/lib/llvm-${{ matrix.llvm-version }}/lib/cmake/clang/"
      LLVM_EXTERNAL_LIT: "/usr/local/bin/lit"
      ENABLE_SANITIZER_UNDEFINED_BEHAVIOR: ${{ matrix.sanitizers }}
      ENABLE_SANITIZER_ADDRESS: ${{ matrix.sanitizers }}
      CI: true
    steps:
      - name: Free up disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true

      - name: Clone the Patchestry repository
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 1

      - name: Pull dev container image
        run: docker pull $DEV_IMAGE

      - name: Mark workspace as safe for git
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            $DEV_IMAGE \
            bash -c "git config --global --add safe.directory /workspace && \
                     git config --global --add safe.directory /workspace/vendor/rellic/src && \
                     git config --global --add safe.directory /workspace/vendor/glog/src && \
                     git config --global --add safe.directory /workspace/vendor/gflags/src && \
                     git config --global --add safe.directory /workspace/vendor/z3/src && \
                     git config --global --add safe.directory /workspace/vendor/clangir/src"

      - name: Configure build - sanitizers ${{ matrix.sanitizers }}
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -e CMAKE_PREFIX_PATH="${CMAKE_PREFIX_PATH}" \
            -e LLVM_EXTERNAL_LIT="${LLVM_EXTERNAL_LIT}" \
            -e ENABLE_SANITIZER_UNDEFINED_BEHAVIOR="${ENABLE_SANITIZER_UNDEFINED_BEHAVIOR}" \
            -e ENABLE_SANITIZER_ADDRESS="${ENABLE_SANITIZER_ADDRESS}" \
            -e CI=true \
            $DEV_IMAGE \
            cmake --preset ci -DPE_USE_VENDORED_Z3=OFF -DLLVM_EXTERNAL_LIT=/usr/local/bin/lit -DLLVM_Z3_INSTALL_DIR=/usr/local

      - name: Build ${{ matrix.build-type }} with sanitizers set ${{ matrix.sanitizers }}
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -e CI=true \
            $DEV_IMAGE \
            cmake --build --preset ci --config ${{ matrix.build-type }} -j$(nproc)

      - name: Build the intrinsic library
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace/lib/patchestry/intrinsics \
            $DEV_IMAGE \
            bash -c "cmake -B build_standalone -DCMAKE_BUILD_TYPE=Release && cmake --build build_standalone -j\$(nproc)"

      - name: Build the headless decompilation docker image
        run: |
          bash ./scripts/ghidra/build-headless-docker.sh

      - name: Test ${{ matrix.build-type }} with sanitizers set ${{ matrix.sanitizers }}
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -e CI=true \
            $DEV_IMAGE \
            lit ./builds/ci/test -D BUILD_TYPE=${{ matrix.build-type }} -v -DCI_OUTPUT_FOLDER=/workspace/builds/ci/test/ghidra/Output